#logo {
  font-size: 250%;
}

#slogan {
  position: relative;
  font-size: 70%;
  margin: 0px;
  line-height: 0px;
  top: -10px;
  left: 80px;
}

#footer {
  width: 100%;
  text-align: center;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

th {
    background-color: #dfd;
}

fieldset {
  background: #efe;
}

legend {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  padding: 0.2em 1em;
}
