#logo {
  font-size: 300%;
  font-weight: bold;
}

#slogan {
  position: relative;
  font-size: 70%;
  margin: 0px;
  line-height: 0px;
  top: -10px;
  left: 80px;
}

#footer {
  width: 100%;
  text-align: center;
}

h1 {
    font-weight: normal;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

th {
    background-color: #dfd;
}

fieldset {
  background: #efe;
}

legend {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

/* START: order details */

#order, th, td {
    border-width: 0px;
}

#order, th {
    background: #efe;
    border-bottom: 1px solid #595;
}

.item-price, .total-line {
  text-align: right;
}

.total-line .total-cell {
  font-weight: bold;
  border-top: 1px solid #595;
}

.unit-column {
  text-align: right;
  border-left: 1px solid #595;
}

.important-cell {
  color: red;
  font-weight: bold;
  border-top: 1px solid #595;
}

/* END */
