<p>
  <%= link_to "Purchase", :action => "purchase" %>
</p>
<p>
  <%= link_to "Sale", :action => "sale" %>
</p>
<p>
  <%= link_to "Manage Vendor Products", :controller => "vendor_products", :action => "index" %>
</p>
<p>
  <%= link_to "Logout", :action => "logout" %>
</p>
