<fieldset>
  <legend>Overview</legend>
  <table>
    <tr>
      <td>Profit:</td>
      <td><%= number_to_cny(@total_profit) %></td>
    </tr>
    <tr>
      <td>On Sale:</td>
      <td><%= number_to_cny(@total_on_sale_cost) %></td>
    </tr>
    <tr>
      <td>Saled:</td>
      <td><%= number_to_cny(@total_saled_price) %></td>
    </tr>
    <tr>
      <td>Used:</td>
      <td><%= number_to_cny(@total_used_cost) %></td>
    </tr>
  </table>
</fieldset>
